name: CI

# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  base:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run base script
        run: |
          pytest -n auto --durations=10 --pyargs networkx

  default:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run default script
        run: |
          python -Werror -c "import networkx"
          pytest -n auto --doctest-modules --durations=10 --pyargs networkx

  default-without-scipy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run default without scipy script
        run: |
          python -Werror -c "import networkx"
          pytest -n auto --doctest-modules --durations=10 --pyargs networkx

  dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run dispatch script
        run: |
          NETWORKX_TEST_BACKEND=nx_loopback pytest -n auto --doctest-modules --durations=10 --pyargs networkx

  extra:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run extra script
        run: |
          pytest -n auto --doctest-modules --durations=10 --pyargs networkx

  prerelease:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run prerelease script
        run: |
          pytest -n auto --doctest-modules --durations=10 --pyargs networkx

  slow-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run slow tests script
        run: |
          pytest -n auto --durations=20 --runslow -m slow --pyargs networkx